<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"><link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!--<link rel="stylesheet" href="/resources/demos/style.css">--><script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <meta name="Keywords" content="Слайдер, MVP, MVC">
    <meta name="description" content="Тестовое задание FSD - Слайдер с архитектурой MVP">
  <link href="./main.eb6462dd74986ebbf61e.css" rel="stylesheet"></head>
  <title>
  </title>
  <body id="body">   
    <h1 class="index__h1">Слайдер</h1>
    <div class="jslider1">   </div>
  <script type="text/javascript" src="./vendors-eb6462dd74986ebbf61e.js"></script><script type="text/javascript" src="./main-eb6462dd74986ebbf61e.js"></script></body>
</html>